<template>
  <v-container>
    <v-form v-model="valid" ref="form" lazy-validation xs12>
      <v-row>
        <v-col cols="12">
          <h1 class="text-h3 font-weight-bold primary--text">
            Abfrage {{ this.$route.params.id ? "Bearbeiten" : "Erstellen" }}
          </h1>
        </v-col>
        <v-col cols="12">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="event.title"
                :rules="rules.required"
                label="Name"
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" md="6">
              <v-menu
                v-model="date_options_menu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:[`activator`]="{ on }">
                  <v-combobox
                    v-model="event.date_options"
                    :rules="rules.required"
                    label="Terminoptionen"
                    multiple
                    chips
                    small-chips
                    readonly
                    v-on="on"
                  ></v-combobox>
                </template>
                <v-date-picker
                  v-model="event.date_options"
                  color="primary"
                  locale="de-de"
                  first-day-of-week="1"
                  multiple
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" md="6">
              <v-autocomplete
                auto-select-first
                v-model="event.user_groups"
                :items="member_groups"
                item-text="name"
                item-value="id"
                label="Helfergruppen"
                multiple
                :search-input.sync="searchGroups"
                @change="searchGroups = ''"
                :rules="rules.required"
                required
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="event.responsible"
                label="Ansprechpartner"
                :items="users"
                item-text="'${data.item.first_name} ${data.item.last_name}'"
                item-value="id"
                :filter="customFilter"
                auto-select-first
                :rules="rules.required"
                required
              >
                <template slot="item" slot-scope="data">
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="`${data.item.first_name} ${data.item.last_name}`"
                    ></v-list-item-title>
                  </v-list-item-content>
                </template>
                <template slot="selection" slot-scope="data">
                  <span
                    >{{ data.item.first_name }} {{ data.item.last_name }}</span
                  >
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="event.users"
                label="Helfer"
                :items="users"
                item-text="'${data.item.first_name} ${data.item.last_name}'"
                item-value="id"
                auto-select-first
                multiple
                :search-input.sync="searchUsers"
                @change="searchUsers = ''"
                chips
                :filter="customFilter"
              >
                <template v-slot:[`selection`]="data">
                  <v-chip
                    :input-value="data.selected"
                    close
                    class="chip--select-multi"
                    @click:close="removeSelected(data.item)"
                  >
                    {{ data.item.first_name }}
                    {{ data.item.last_name }}
                  </v-chip>
                </template>
                <template v-slot:[`item`]="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="
                          `${data.item.first_name} ${data.item.last_name}`
                        "
                      ></v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>

          <p class="v-label v-label--active ml-1 mb-2" style="opacity: 0.7">
            Beschreibung
          </p>
          <editor v-model="event.description" style="mt-1" />

          <v-row>
            <v-col>
              <v-checkbox
                v-model="event.force_comment"
                label="Kommentarfeld bei Absage verpflichtend"
                color="primary"
              ></v-checkbox>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="auto">
              <v-btn
                color="primary"
                large
                class="ml-0"
                :disabled="!valid"
                @click="save()"
                >{{ this.$route.params.id ? "Speichern" : "Erstellen" }}</v-btn
              >
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="auto">
              <v-btn
                outlined
                color="primary"
                large
                @click="$router.push({ name: 'event' })"
                >Abbrechen</v-btn
              >
            </v-col>
          </v-row>

          <v-dialog v-model="loader" hide-overlay persistent width="300">
            <v-card color="primary" dark>
              <v-card-text class="pt-4">
                Bitte warten!
                <v-progress-linear
                  indeterminate
                  color="white"
                  class="mb-0"
                ></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import _ from "lodash";
import Editor from "@/components/Editor";
import format from "date-fns/format";
var deLocale = require("date-fns/locale/de");
import Api from "@/services/ApiService.js";
import EventBus from "@/eventBus";

export default {
  components: { Editor },
  data: () => ({
    event: {
      title: "",
      description: "",
      responsible: {},
      force_comment: false,
      users: [],
      user_groups: [],
      date_options: []
    },
    loader: false,
    today: new Date().toISOString().slice(0, 10),
    date_options_menu: false,
    member_groups: null,
    users: [],
    searchUsers: "",
    searchGroups: "",
    valid: false,
    rules: {
      required: [v => !!v || "Benötigt."]
    }
  }),
  created: function() {
    this.loadMembergroups();
    this.loadUsers();
    this.loadEvent();
  },
  computed: {
    start_date_t() {
      return this.start_date
        ? format(this.start_date, "dddd, Do MMMM YYYY", {
            locale: deLocale
          })
        : "";
    }
  },
  methods: {
    loadEvent() {
      if (this.$route.params.id) {
        const vm = this;
        vm.id = this.$route.params.id;
        Api.eventsGet(vm.id).then(function(response) {
          vm.event = response.data.data;
          if (typeof vm.event.date_options[0] === "object") {
            vm.event.date_options = vm.event.date_options.map(x => x.date);
          }
        });
      }
    },
    removeSelected(item) {
      let index = -1;
      if (typeof this.event.users[0] === "object")
        index = _.findIndex(this.event.users, item);
      else index = this.event.users.indexOf(item.id);
      this.event.users.splice(index, 1);
    },
    save() {
      const vm = this;
      if (this.$refs.form.validate()) {
        this.loader = true;
        let newEvent = vm.event;
        if (typeof vm.event.user_groups[0] === "object") {
          var userGroupids = [];
          vm.event.user_groups.forEach(element => {
            userGroupids.push(element.id);
          });
          newEvent.user_groups = userGroupids;
        }
        if (typeof vm.event.users[0] === "object") {
          var usersIDs = [];
          vm.event.users.forEach(element => {
            usersIDs.push(element.id);
          });
          newEvent.users = usersIDs;
        }
        if (vm.event.responsible && typeof vm.event.responsible === "object") {
          newEvent.responsible = vm.event.responsible.id;
        }

        if (vm.$route.params.id) {
          Api.eventsEdit(vm.id, newEvent)
            .then(() => {
              vm.loader = false;
              vm.$router.push({ name: "event" }, () => {
                EventBus.$emit("showSnackbar", "Erfolgreich!", "primary");
              });
            })
            .catch(() => {
              vm.loader = false;
            });
        } else {
          Api.eventsCreate(newEvent)
            .then(() => {
              vm.loader = false;
              vm.$router.push({ name: "event" }, () => {
                EventBus.$emit("showSnackbar", "Erfolgreich!", "primary");
              });
            })
            .catch(() => {
              vm.loader = false;
            });
        }
      }
    },
    loadMembergroups: function() {
      const vm = this;
      Api.userGroups().then(function(response) {
        vm.member_groups = _.sortBy(response.data.data, ["name"]);
      });
    },
    loadUsers: function() {
      const vm = this;
      Api.usersSimple().then(function(response) {
        vm.users = _.orderBy(
          response.data.data,
          ["last_name", "first_name"],
          ["asc", "asc"]
        );
      });
    },
    customFilter(item, queryText) {
      const textOne =
        item.first_name.toLowerCase() + " " + item.last_name.toLowerCase();
      const searchText = queryText.toLowerCase();
      return textOne.indexOf(searchText) > -1;
    }
  }
};
</script>

<style></style>
