<!DOCTYPE html>
<html lang="de">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="Description"
      content="Das ist die THW Ortsverbands Online-Verwaltung OVOrg"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="manifest" href="/manifest.json" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#00796b" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="THW OVOrg" />

    <title><%= VUE_APP_NAME %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
      rel="preconnect stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.2/dist/vuetify.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      <strong
        >Es tut und leid, das <%= VUE_APP_NAME %> funktioniert nicht ohne
        aktiviertem JavaScript. Bitte aktiviere JavaScript um
        fortzufahren.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
