<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div class="text-center">
          <h1 class="text-h1 font-weight-black my-12 primary--text">
            Ups...
          </h1>
          <p class="text-h6">
            Du hast nicht die erforderliche Berechtigung um diese Seite
            aufzurufen. Vielleicht hast du dich auch nur vertippt, wer weiß das
            schon. Kann passieren, darf aber nicht...
          </p>
          <p class="text-subtitle-1">
            Bitte versuche es doch nochmal von der Startseite, du wirst bestimmt
            eine Lösung finden
          </p>
          <v-btn outlined large color="primary" :to="{ name: 'home' }"
            >Startseite</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style></style>
