<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="text-h3 font-weight-bold primary--text">
          Feedback-Templates
        </h1>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            <v-btn outlined color="primary" @click="create">Erstellen</v-btn>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              :append-icon="icons.mdiMagnify"
              label="Suche"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="data"
            :search="search"
            :loading="loader"
            sort-by="name"
            no-data-text="Keine Templates vorhanden"
            @click:row="show"
          >
            <template v-slot:[`item.action`]="{ item }">
              <v-btn text icon small @click="show(item)">
                <v-icon color="primary">{{ icons.mdiPencil }}</v-icon>
              </v-btn>
              <v-btn text icon small @click="deleteItem(item)">
                <v-icon color="primary">{{ icons.mdiDelete }}</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" persistent width="1000">
      <v-card>
        <v-card-title class="text-h5 primary white--text" primary-title>
          Template
          {{ editedItem.id ? "Bearbeiten" : "Erstellen" }}
        </v-card-title>
        <v-card-text class="mt-5">
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-text-field
              v-model="editedItem.name"
              :rules="rules.required"
              label="Name"
              required
            ></v-text-field>
            <editor v-model="editedItem.template" style="mt-1" />
            <v-row class="mt-3">
              <v-col cols="auto">
                <v-btn
                  color="primary"
                  large
                  :disabled="!valid"
                  @click="save(editedItem)"
                  >Speichern</v-btn
                >
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="auto">
                <v-btn outlined color="primary" large @click="dialog = false"
                  >Abbrechen</v-btn
                >
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <Confirm ref="confirm"></Confirm>
  </v-container>
</template>

<script>
import Confirm from "@/components/Confirm";
import Editor from "@/components/Editor";
import Api from "@/services/ApiService.js";
import EventBus from "@/eventBus";
import { mdiPencil, mdiDelete, mdiMagnify } from "@mdi/js";

export default {
  components: { Confirm, Editor },
  data: () => ({
    loader: false,
    data: [],
    search: "",
    headers: [
      {
        text: "Name",
        align: "left",
        value: "name"
      },
      {
        text: "Aktion",
        align: "right",
        sortable: false,
        value: "action"
      }
    ],
    icons: { mdiPencil, mdiDelete, mdiMagnify },
    dialog: false,
    valid: false,
    editedItem: {},
    rules: {
      required: [v => !!v || "Benötigt"]
    }
  }),
  created: function() {
    this.loadFeedbackTemplates();
  },
  methods: {
    loadFeedbackTemplates: function() {
      this.loader = true;
      const vm = this;
      Api.adminFeedbackTemplates()
        .then(function(response) {
          vm.data = response.data.data;
          vm.loader = false;
        })
        .catch(() => {
          vm.loader = false;
        });
    },
    show(item) {
      this.dialog = true;
      this.editedItem = item;
    },
    save(item) {
      if (this.$refs.form.validate()) {
        const vm = this;
        const id = vm.data.indexOf(item);
        if (item.id) {
          Api.adminFeedbackTemplatesEdit(item.id, item).then(response => {
            vm.dialog = false;
            Object.assign(vm.data[id], response.data.data);
            EventBus.$emit("showSnackbar", "Template geändert!", "primary");
          });
        } else {
          Api.adminFeedbackTemplatesCreate(item).then(response => {
            vm.data.push(response.data.data);
            EventBus.$emit("showSnackbar", "Erfolgreich!", "primary");
          });
        }
      }
    },
    create() {
      this.show({ name: "", template: "" });
    },
    deleteItem(item) {
      event.stopPropagation();
      const index = this.data.indexOf(item);
      this.$refs.confirm
        .open(
          "Löschen",
          "Bist du sicher? Das Element kann nicht wiederhergestellt werden!",
          { color: "red" }
        )
        .then(confirm => {
          if (confirm) {
            this.data.splice(index, 1);
            Api.adminFeedbackTemplatesDelete(item.id).then(() => {
              EventBus.$emit(
                "showSnackbar",
                "Erfolgreich gelöscht!",
                "primary"
              );
            });
          }
        });
    }
  }
};
</script>
