<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1 class="text-h3 font-weight-bold primary--text">Mails</h1>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-list>
            <template v-for="(item, index) in canItems">
              <v-list-item
                :key="item.title"
                :to="{ name: 'mailedit', params: { id: item.link } }"
                style="cursor: pointer"
              >
                <v-list-item-content>
                  <v-list-item-title v-html="item.title"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <v-icon color="primary">{{ icons.mdiSend }}</v-icon>
                </v-list-item-action>
              </v-list-item>
              <v-divider
                v-if="index + 1 < canItems.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mdiSend } from "@mdi/js";

export default {
  data: () => ({
    items: [
      {
        title: "Mail verfassen",
        link: "schreibe_mail",
        permission: "notifications.general"
      },
      {
        title: "Dienst Erinnerung",
        link: "dienst_erinnerung",
        permission: "notifications.general"
      },
      {
        title: "Abfrage Erinnerung",
        link: "abfrage_erinnerung",
        permission: "notifications.general"
      },
      {
        title: "Aktivierung",
        link: "aktivierung",
        permission: "notifications.administration"
      },
      {
        title: "Passwort zurücksetzen",
        link: "passwort_zurücksetzen",
        permission: "notifications.administration"
      }
    ],
    icons: { mdiSend }
  }),
  computed: {
    canItems() {
      return this.items.filter(h => this.$can(h.permission));
    }
  }
};
</script>

<style></style>
